.App {
  padding: 0.2rem;
}

.btn {
  border: none;
  cursor: pointer;
  background-color: rgb(24, 218, 185);
  padding: 0.6rem 2rem 0.6rem 2rem;
  margin: 0.4rem;
  font-weight: bold;
}

.btn {
  background-color: rgb(62, 238, 209);
}

.btn:focus {
  outline: none;
}

ul, li{
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.crud-icon {
  width: 3rem;
  cursor: pointer;
  background-color: transparent;
}