.App {
  padding: 0.2rem
}

.btn {
  border: none;
  cursor: pointer;
  padding: 0.6rem 2rem 0.6rem 2rem;
  margin: 0.4rem;
  background-color: transparent;
}

.btn:focus {
  outline: none;
}

ul, li{
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.crud-icon {
  width: 3rem;
  cursor: pointer;
  background-color: transparent;
}