.confirm-box {
    padding: 3rem 8rem 3rem 8rem;
    background-color: rgb(26, 26, 26);
    position: fixed;
    top: 20vh;
    left: 35.5vw;
    color: white;
    z-index: 9999;
    /* All browsers box shadows */
    -webkit-box-shadow: 10px 10px 31px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 31px 8px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 31px 8px rgba(0,0,0,0.75);
}

.message_header {
    background-color: rgb(34, 34, 34);
}

.message_content {
    background-color: rgb(3, 3, 3);
}