.Homepage {
    padding: 2rem 2rem 2rem 2rem;
    background-color: antiquewhite;
}

.crud-container {
    display: flex;
    flex-direction: row;
    flex-flow: space-between;
}

.list-wrapper{
    flex-grow: 2;
}

.display-menu {
    flex-grow: 0.5;
    background-color: rgb(199, 137, 52);
    padding: 1rem 1rem 1rem 1rem;
}
