.Item {
    border: 2px solid rgba(70, 70, 70, 0.692);
    border-radius: 1rem;
    margin: 1rem;
    padding: 0.6rem 0.6rem 0.6rem 0.6rem;
    margin-bottom: 0.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: 0.6s;
}

.spotify-iframe{
    border-radius: 1rem;
}

.Item:hover{
    background-color: rgba(194, 194, 194, 0.109);
}

.item-data{
    padding: 0.6rem 0.6rem 0.6rem 0.6rem;
}

.item-crud-options {
    padding-top: 1rem;
}