.Item {
    background-color: rgb(39, 39, 39);
    padding: 0.6rem 0.6rem 0.6rem 0.6rem;
    margin-bottom: 0.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-data{
    background-color: rgb(31, 31, 31);
    padding: 0.6rem 0.6rem 0.6rem 0.6rem;
}

.item-crud-options {
    background-color: rgb(42, 42, 42);
    padding-top: 1rem;
}