.List {
    /* padding: 2rem 2rem 2rem 2rem; */
    background-color: rgb(250, 205, 139);
}

.category-switch{
    background-color: rgb(248, 182, 95);
    margin-bottom: 1rem;
}

.category-switch{
    display: flex;
    flex-direction: row;
}

.all-switch-btn,
.songs-switch-btn,
.albums-switch-btn,
.artists-switch-btn{
    flex-grow: 1;
    padding: 1rem 1rem 1rem 1rem;
    cursor: pointer;
    background-color: rgb(235, 204, 164);
}

.all-switch-btn:hover,
.songs-switch-btn:hover,
.albums-switch-btn:hover,
.artists-switch-btn:hover{
    background-color: rgb(246, 211, 159);
}

.all-switch-btn:active,
.songs-switch-btn:active,
.albums-switch-btn:active,
.artists-switch-btn:active{
    background-color: rgb(252, 234, 210);
}

.active-category{
    background-color: rgb(250, 205, 139);
}