.List {
    /* padding: 2rem 2rem 2rem 2rem; */
    width: 90%;
    box-sizing: content-box;
}

.category-switch{
    margin-bottom: 1rem;
}

.category-switch{
    display: flex;
    flex-direction: row;
}

.all-switch-btn,
.songs-switch-btn,
.albums-switch-btn,
.artists-switch-btn{
    transition: 0.35s;
    flex-grow: 1;
    padding: 1rem 1rem 1rem 1rem;
    cursor: pointer;
}

.all-switch-btn:hover,
.songs-switch-btn:hover,
.albums-switch-btn:hover,
.artists-switch-btn:hover{
    transition: 0.4s;
    background-color: rgb(95, 95, 95);
    border-radius: 1rem;
    border: 3px solid rgba(0, 218, 145, 0.644);
}

.all-switch-btn:active,
.songs-switch-btn:active,
.albums-switch-btn:active,
.artists-switch-btn:active{
    transition: 0.2s;
    background-color: rgb(39, 39, 39);
    border-radius: 2rem;
}

.active-category{   
    transition: 0.5s;
    background-color: rgb(53, 53, 53);
    border-radius: 0px;
    border-radius: 1rem;
    border: 3px solid rgba(0, 218, 145, 0.5);;
}

.active-category:hover{   
    transition: 0.4s;
    background-color: rgb(44, 44, 44);
    border-radius: 0.3rem;
    border: 3px solid rgba(0, 218, 145, 0.698);;
}