.Search {    
    display: inline-block;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0 auto;
}

.search-bar-input{
    background-color: rgba(149, 149, 149, 0.287);
    color: rgba(245, 245, 245, 0.164);
    border-radius: 3rem;
    border: 2px rgba(170, 170, 170, 0.383);
    font-size: 1.8rem;
    padding: 1rem;
    transition: 0.45s;
    margin-left: 2.55rem;
    text-shadow: none;
}

.search-bar-input:hover{    
    color: rgb(255, 255, 255);
    border-radius: 0.3rem;
    transform: scale(1.05);
    background-color: transparent
}

.search-bar-input:active{
    transform: scale(1.05);
    transition: 0.2s;
    border-radius: 1.5rem;
    background-color: rgba(65, 65, 65, 0.315);
}

.search-bar-input:focus{
    background-color: rgba(65, 65, 65, 0.315);
    transform: scale(1.05);
    outline: none;
    border-radius: 0;
    color: white;
    border: 2px white;
}