@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,500&family=Karla&family=Sora&display=swap');

body{
  font-size: 1.2rem;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  text-shadow: 2px 2px 4px rgb(0,0,0);
}

h1, h2, h3, h4, h5 {
  font-family: 'Sora', sans-serif;
}

.toggle-details-btn{
  color: white;
  font-size: 1.2rem;
  text-shadow: 2px 2px 4px rgb(0,0,0);
  border: none;
  outline: none;
  padding: 0.7rem;
  background-color: transparent;
}

.toggle-details-btn:hover{
  transition: 0.3s;
  transform: scale(1.04);
}

.toggle-details-btn:active{
  transform: scale(1.06);
}

.italic-colored{
  font-style: italic;
  color: rgb(0, 218, 145);
}

.mkey{
  font-size: 1.7rem;
  font-family: 'EB Garamond', serif;
}

.yt-link{
  color: white;
  text-decoration: none; 
  text-shadow: 2px 2px 4px rgb(0,0,0);
}

.yt-btn{
  width: 3rem;
  position: relative;
  left: -1rem;
  top: 1rem;
}

.loader-wrapper{
  text-align: center;
  padding: 2rem;
}

.loader {
  width: 2.5rem;
}