.confirm-box {
    padding: 3rem 8rem 3rem 8rem;
    background-color: rgb(26, 26, 26);
    position: absolute;
    left: 40vw;
    color: white;
}

.message_header {
    background-color: rgb(34, 34, 34);
}

.message_content {
    background-color: rgb(3, 3, 3);
}